<h3 style="margin-left:850px; font-family: 'sans-serif'; padding-top: 5px;">
    <a href="{{path('fos_user_security_login')}}" style="text-decoration: none">  <span style="padding:8px; border-radius:5px; background-color:#2D80C4; color:white">Sign In</span></a>
    <a href="{{path('register_website')}}" style="text-decoration: none"> <span style="padding:8px; border-radius:5px; background-color:#2D80C4; color:white">Register Website</span></a>
</h3>